/*Normalize*******************************/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*********************************************/

/*Hidden title*******************************/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**********************************************/

/*Global optimization picteres*****************/
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 26px;
}
/**********************************************/

body {
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding-top: 68px;
  padding-bottom: 98px;
}

.header-menu {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline-block;
}

.header-menu li:not(:last-child) {
  margin-right: 60px;
}

.header-menu a {
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu a:hover,
.header-menu a:focus {
  color: #03a9f4;
}

.wrapper {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.card {
  vertical-align: top;
  width: 420px; 
  display: inline-block;
  margin: 0 60px 0 0;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0 0 25px 0;
  color: #b4ad9e;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 0 32px 0;
  font-size: 30px;
}

.content {
  margin: 0 0 130px 0;
  font-size: 14px;
}

article:nth-child(2n) { 
  margin-right: -4px;
}

.margin { 
  margin-bottom: 85px;
}

.btn {
 display: block;
 border: 1px  rgb(98, 98, 98) solid;
 background-color: #ffffff;
 font-size: 20px;
 margin: 0 auto 20px;
 width: 162px;
 height: 58px;
}

