/*GLOBAL VARIABLES*****************/
:root {}

/***********************************/

body {
  font-family: 'RobotoSlab', serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  letter-spacing: 0.35px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*HEADER************************************/
header {
  padding-top: 42px;
  padding-bottom: 115px;
}

.logo {
  font-family: Great Vibes;
  color: #fed136;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav ul a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  transition: all 200ms linear;
}

nav a:hover,
nav a:focus {
  color: #fed136;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 480px;
}
/*********************************************/

/*TITLES****************************************/
h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: -1px;
}

.contact__title {
  color: #ffffff;
  padding-top: 112px;
  padding-bottom: 18px;
}

.section__subtitle {
  font-family: 'Alegreya', serif;
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: #777777;
  margin-bottom: 72px;
}
/*********************************************/

/*SERVICES************************************/
.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}

li {
  width: 280px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  color: #222222;
  letter-spacing: -0.45px;
}

*::before {
  margin-bottom: 28px;
}

.basket::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 40px;

  border-color: #fed136;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  padding-left: 70px;
  padding-top: 70px;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('../img/icons/basket.png');
}

.laptop::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 35px;

  border-color: #fed136;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  padding-left: 70px;
  padding-top: 70px;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('../img/icons/laptop.png');
}

.locked::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 38px;

  border-color: #fed136;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  padding-left: 70px;
  padding-top: 70px;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('../img/icons/locked.png');
}
/*********************************************/

/*CONTACTS****************************************/
.contact {
  background-color: #222222;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: right; 
  padding-bottom: 114px;
}

.contact__form {
  width: 940px;
  margin: 0 auto;
}

.contact__form-area {
  display: flex;
  justify-content: space-between;  
}

.contact__form-inputs, .contact__form-text {
  width: 48%;
}

.contact__form-textarea, .contact__form-input {
  width: 100%;
  display: block;
  border: 1px solid #cccccc; 
  font-size: 14px;
  font-weight: 700;
  border-color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.contact__form-textarea { 
  height: 100%;
  margin: 0 auto;
  padding: 18px 0px 0px 18px;
  resize: none;  
}

.contact__form-textarea::placeholder, 
.contact__form-input::placeholder {
  color: #bbbbbb;
}

.contact__form-input {
  height: 50px;
  padding-left: 18px;
}

.contact__form-input:not(:last-child) {
  margin-bottom: 28px;
}

.contact__form-input:required:focus:valid {
  outline: 1px solid green;
}

.contact__form-input:required:focus:invalid {
  outline: 2px solid red;
}

button {
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fed136;
  width: 240px;
  height: 66px;
  border-radius: 3px;
  margin-top: 30px;
}
/*********************************************/
