body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.container {
  width: 320px;
  margin: 0 auto;
  background-image: url('../img/bg.jpg');
  background-size: cover;  
}

/*HEADER************************************/
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 122px; 
 }

.reg-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 25px;
  padding: 12px 19px;
}

.reg-btn:hover,
.reg-btn:focus {
   border-color: #ffffff;
}

h1 {
  margin: 0;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

h1 a {
  display: block;
    color: #ffffff;
}

.header__content {
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.header__subtitle {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 180px;
}

.header__btn {
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 50px;
  width: 280px;
  height: 40px;
  margin-bottom: 138px;
}
/*********************************************/

/*PARTNERS****************************************/

/************************************************/
