/*Normalize************************************/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
/*********************************************/

/*Hidden title*******************************/
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**********************************************/

/*Global optimization picteres*****************/
img {
  display: block;
  max-width: 100%;
}

/**********************************************/

/*Global optimization buttons*****************/
button {
  border: none;
  background-color: transparent;
}
/**********************************************/

body {  
  font-family: Roboto, sans-serif;
  color: #555252;
  font-size: 14px;
}

/**********************************************/

.container {
  width: 1114px;
  margin: 0 auto;
}

/*CLEARFIX********************************/
.clearfix::after {
  display: table;
  /* для старых браузеров */
  content: '';
  clear: both;
}

/*************************************/

/*HEAD********************************/
header {
  padding-top: 36px;
  padding-bottom: 32px;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

nav::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.header-menu {
  float: right;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.header-menu li {
  float: left;
  padding: 0;
}

nav li:nth-child(-n + 5) {
  margin-right: 34px;
}

nav li:nth-child(2) {
  margin-right: 36px;
}

nav li:nth-child(3) {
  margin-right: 30px;
}

nav li:nth-child(4) {
  margin-right: 28px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
  cursor: pointer;
}

ul a {
  display: block;
}

.header-menu a:hover,
.header-menu a:focus {
  color: #1abc9c;
}
/**********************************************/

/*SLIDER***************************************/
.slider {
  position: relative;
  height: 600px;
  margin: 0 auto;
}

.slider__img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.slider__content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.slider-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  top: -20px;
}

.slider__descr {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 25px;
  padding: 0;
  letter-spacing: -1.2px;
}

.slider__subtitle {
  font-size: 37px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.48px;
  padding: 0px;
  margin: 0;
}

.slider__overlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  float: left;
  background-image: url('../img/icons/left-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  float: right;
  background-image: url('../img/icons/right-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.slider-btn {
  background-color: rgb(78, 198, 171);
  opacity: 0.6;
  width: 104px;
  height: 104px;
}

.slider-btn:hover {
  background-color: rgb(78, 198, 171);
  opacity: 1;
}
/**********************************************/

/*TITLE***************************************/
.collection__title {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 82px;
  padding-top: 96px;
}

.collection__title::after {
  content: '';
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 24px auto 0;
}
/**********************************************/

/*COLLECTION***********************************/
main {
  background-color: #e9f0fd;
}

.collection__wrapper {
  padding-bottom: 100px;
}

ul {
  list-style: none;
}

.collection__list li {
  float: left;
}

.collection-item-content {
  position: relative;
  width: 256px;
  background-color: #323232;
  text-align: center;
}

h2 a {
  position: absolute;
  left: 12px;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.collection-item-content span {
  float: right;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 40px;
  padding-top: 10px;
}

.collection-item-content:hover {
  background-color: #1abc9c;
}

.collection-item:hover .collection-item-content {
  background-color: #1abc9c;
}

.collection__list li:not(:last-child) {
  position: relative;
  margin-right: 30px;
}

.overlay {
 /* Hover overlay - way of 1 */
 /* display: none; */ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, .5);
  opacity: 0;
  visibility: hidden;
}

.overlay__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay__list-item {
  float: left;
  margin: 0;
  position: relative;
}

 /* Hover overlay - way of 1 ***************/
/*
.collection-item:hover .overlay {
  display: block;
}
/*******************************************/

.collection-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay__list li:nth-child(n) {
  margin-right: 10px;
  padding-bottom: 8px;
}

.overlay__list li:nth-child(n + 3) {
  margin-right: 0px;
  padding-bottom: 0px;
}

.overlay-list-link {
  display: block;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 48px;
  height: 48px;
}

.overlay-list-link-heart {
  background-position: center;
  background-image: url('../img/icons/heart.png');
  background-repeat: no-repeat;
}

.overlay-list-link-arrows {
  background-position: center;
  background-image: url('../img/icons/arrows.png');
  background-repeat: no-repeat;
}

.overlay-list-link-clock {
  background-position: center;
  background-image: url('../img/icons/clock.png');
  background-repeat: no-repeat;
}

.overlay-list-link-cart {
  width: 164px;
  background-position: 12px center;
  background-color: #323232;
  background-image: url('../img/icons/cart.png');
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.overlay__list button:hover {
  background-color: #1abc9c;
  border: none;
}

.cart-name {
  position: relative;
  left: 25px;
}

.collection__image-wrap {
  position: relative;
}
/**********************************************/

/*FOOTER***************************************/
.footer {
  position: relative;
  min-height: 90px;
  background-color: #323232;
}

.footer__copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.footer__copyright a {
  cursor: pointer;
  text-decoration: none;
  color: #46bfa9;
}

.footer__copyright a:hover {
  text-decoration: underline;
}
/**********************************************/
