body {
	font-family: 'Playfair Display', serif;
}

.wrapper {
	box-sizing: border-box;
	font-size: 0;	
	border: 1px solid #cccccc;
	width: 470px;
	padding: 40px 25px 0;
	margin: 0 auto;
	box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.5);
}

img {
	display: block;
	max-width: 100%;
	height: auto;	
	margin: 0 auto;
	font-size: 0;
	margin-bottom: 30px;
}

.oneword-item {
	font-size: 14px;
	text-transform: uppercase;
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-align-last: left;
	margin: 0 0 25px 0px;	
}

 .subtitle-item {	
	font-size: 30px;
	font-weight: 400;
	color: #626262;
	text-align-last: left;	
	margin: 0 0 36px 0px;
	line-height: ;
}

.text-item {
	font-size: 14px;
	color: #626262;
	font-weight: 400;
	margin: 0 9px 30px 0px;	
}