/*FOOTER**************************************/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.line {
  width: 100%;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 86px 0 10px 0;
}

.footer__copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000000;
}

.footer__copyright a {
  color: #f38181;
  text-decoration: none;
}

.footer__copyright a:hover {
  text-decoration: underline;
}

.footer__copyright a:focus {
  font-weight: 900;
}

.footer__subscribe-form {
  display: flex;
}

.footer__subscribe-form-input {
  width: 234px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  padding-left: 12px;
}

.footer__subscribe-form-btn {
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__subscribe-form-input::placeholder {
  color: #cccccc;
}
/*********************************************/
