/*HEADER************************************/
.banner {
  min-height: 1000px;
  background-image: var(--bg-gradient), url('../images/banner/banner@1x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 54px;
}

@media (min-resolution: 192dpi) {
  .banner {
    background-image: var(--bg-gradient), url('../images/banner/banner@2x.jpg');
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 204px;
}

.logo {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.header {
  padding-top: 34px;

  &__list-wrapper {
    display: flex;
  }

  &__list {
    display: flex;
    margin-right: 52px;
  }

  &__icon {
    display: flex;
  }

  &__icon li:not(:last-child) {
    margin-right: 42px;
  }

  &__list a {
    display: block;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 200ms linear;
    position: relative;
  }

  &__list a:hover,
  &__list a:focus {
    color: #fce38a;
  }

  &__list a::after {
    position: absolute;
    transform: translateY(12px);
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fce38a;
    height: 3px;
    transition: all 200ms linear;
  }

  &__list a:hover::after {
    opacity: 1;
    visibility: visible;
  }

  &__list li:not(:last-child) {
    margin-right: 54px;
  }

  &__icon li:not(:last-child) {
    margin-right: 42px;
  }

  &__icon button {
    display: block;
    cursor: pointer;
  }

  &__icon-glass {
    background-image: url('../images/icons/header_icons/glass.svg');
    width: 18px;
    height: 18px;
  }

  &__icon-cart {
    background-image: url('../images/icons/header_icons/cart.svg');
    width: 18px;
    height: 14px;
  }

  &__descr-wrapper {
    text-align: center;
    color: #ffffff;
    padding-bottom: 230px;
  }

  &__title {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    margin: 0;
    margin-bottom: 70px;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    text-transform: uppercase;
    line-height: 140px;
    padding: 0 50px;
    margin-bottom: 130px;
  }

  &__button {
    border: 3px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 164px;
    height: 44px;
    margin: 0 auto;
    padding: 12px 30px;
    text-align: center;
  }

}

/***********************************************/
