/*Normalize*******************************/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*********************************************/

/*Hidden title*******************************/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**********************************************/

/*Global optimization picteres*****************/
img {
  display: block;
  max-width: 100%;
}
/**********************************************/
body {
  font-family: Roboto, sans-serif;
  color: #555252;
  font-size: 14px;
}
/**********************************************/
.container {
  width: 1110px;
  margin: 0 auto;
}
/*CLEARFIX********************************/
.clearfix::after {
  display: table; /* для старых браузеров */
  content: "";
  clear: both;
}
/*************************************/

/*HEAD********************************/
header {
  padding-top: 36px;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

nav::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.header-menu {
  float: right;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.header-menu li {
  float: left;
  padding: 0;
}

nav li:nth-child(-n+5) {
  margin-right: 34px;
}

nav li:nth-child(2) {
  margin-right: 36px;
}

nav li:nth-child(3) {
  margin-right: 30px;
}

nav li:nth-child(4) {
  margin-right: 28px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
}

ul a {
  display: block;
}

.header-menu a:hover,
.header-menu a:focus {
  color:#1abc9c;
}
/**********************************************/

/*PRODUCTS*************************************/
.products {
  padding: 96px 0 0 0;
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
}

.products-title {
margin: 0 0 92px 0;
}

h2::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 24px auto 0;
}

.product-cost {
  background-color: #323232;
  text-align: center;
}

.product-cost h3 {
  padding: 10px 0 0 0;
  margin: 0;
}

.product-cost p {
  float: right;
  margin: 0;
  background-color: rgba(255, 255, 255, .5);
  color: #ffffff;
  font-weight: 700;
  width: 54px;
  height: 40px;
  padding-top: 12px;
}

.product-cost:hover {
  background-color: #1abc9c;
}

.product-link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

h3 {
  display: inline-block;
  margin-top: 0px;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  }

.product-list-item {
  float: left;
  width: 255px;
  }

.product-list-item:hover .product-cost {
  background-color: #1abc9c;
}

 .product-list-item:not(:nth-child(4n+4)) {
  margin-right: 30px;
}

.product-list-item:not(:nth-child(n+4)) {
  margin-bottom: 30px;
}
/**********************************************/

 /*ARTICLES*************************************/ 
 .articles-title {
  margin: 0 0 80px 0;
} 

.news {
  padding: 96px 0 82px 0;
}

 .articles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles li {
  float: left;
  width: 350px;
}

.articles img {
  margin-bottom: 14px;
}

.articles li:not(:last-child) {
  margin-right: 30px;
}

.article-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 26px 0;
}

.article-title::after {
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  margin: 11px 0 0 0;
}

.article-subtitle {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  font-size: 14px;
  margin: 0 0 12px 0;
}

 .article-link {
  display: block;
  border-radius: 3px;
  background-color: #4ec6ab;
  width: 158px;
  height: 50px;
  border: 0; 
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.article-link:hover,
.article-link:focus {
  background-color: #323232;
}