@media (min-width: 767px) {

  .header {
    background-image: url('../img/bg-tablet.jpg');
    padding: 45px 0 234px;
  }

  .header__content {
    margin-top: 20px;
  }

  .header__title {
    font-size: 52px;
    width: 600px;
  }

  .header__description {
    margin-top: 30px;
  }

  .header__btn {
    margin-top: 38px;
  }

  .authorization-list {
    justify-content: flex-end;
  }

  .logo {
    margin: 0;
  }

  .header__description {
    width: 100%;
  }

  .header__btn {
    width: 270px;
    padding: 0 25px 0;
  }

  .partners__title-btn {
    width: 270px;
    padding: 0 25px 0;
  }

  .partners ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .partners__title-item {
    margin: 0;
    padding: 40px 0 40px 0;
  }

  .partners ul li:nth-of-type(2) {
    order: 3;
  }

  .partners ul li:nth-of-type(4) {
    order: 5;
  }

  .partners__title {
    padding: 76px 0 38px 0;
  }
}

@media (min-width: 992px) AND (max-width: 1305px) {

  .partners ul {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 1399px) {

  .header {
    background-image: url('../img/bg-desktop.jpg');
    padding-bottom: 236px;
  }

  .partners__wrapper ul {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .partners__title-item {
    margin: 0;
    padding: 42px 0 72px 0;
  }

  .partners ul {
    justify-content: center;
  }

  .header__btn {
    width: 225px;
    padding: 0 22px 0;
}

  .partners__title-btn {
    width: 225px;
    padding: 0 22px 0;
}
}