* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  counter-reset: li;
}

.head {
  max-width: 1000px;
  margin: 20px auto 0;
  height: 100px;
  line-height: 50px;
  border: 2px solid #212121;
  padding: 20px;
}

.site-navigation {
  margin: auto;
  font-family: Roboto, sans-serif;
}

.site-navigation li {
  float: left;
  list-style: none;
}

.site-navigation li:not(:last-child) {
  margin-right: 20px;
}

.site-navigation a {
  display: block;
  font-size: 20px;
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:before {
  border: 2px solid red;
  text-align: center; 
  vertical-align: middle; 
  counter-increment: li;
  content: counter(li, upper-roman) ".";
  color: blue;
}

/* Сработает при hover */
.site-navigation a:hover {
  color: #03a9f4;
}

/* Сработает при удержании кнопки мыши на ссылке */
.site-navigation a:focus {
  color: #ff4081;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}
