/*Normalize************************************/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
/*********************************************/

/*Hidden title*******************************/
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**********************************************/

/*Global optimization picteres*****************/
img {
  display: block;
  max-width: 100%;
}
/**********************************************/

/*Global optimization buttons******************/
button {
  border: none;
  background-color: transparent;
}
/**********************************************/

/*Global optimization buttons******************/
ul, ol {
  list-style: none;
}
/**********************************************/