/*GLOBAL VARIABLES*****************/
:root {
  --overlay-gradient: linear-gradient(90deg, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%);
  --bg-gradient: linear-gradient(90deg, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%);
}

/***********************************/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   color: #999999;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*HEADER************************************/
.banner {
  min-height: 1000px;
  background-image: var(--bg-gradient), url('../img/banner/banner@1x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 54px;
}

@media (min-resolution: 192dpi) {
.banner {
  background-image: url('../img/banner/banner@2x.jpg');
  }
}

.header {
  padding-top: 34px;
 
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 204px;
}

.header__list-wrapper {
  display: flex;
}

.header__list {
  display: flex; 
  margin-right: 52px;
}

.header__icon {
  display: flex;
}

.header__icon li:not(:last-child) {
  margin-right: 42px;
}

.header__list a {
  display: block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms linear;
  position: relative;
}

.header__list a:hover,
.header__list a:focus {
  color: #fce38a;
}

.header__list a::after {
  position: absolute;
  transform: translateY(12px);
  content: "";
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #fce38a;
  height: 3px;
  transition: all 200ms linear;
}

.header__list a:hover::after {
  opacity: 1;
  visibility: visible;
}

.header__list li:not(:last-child) {
  margin-right: 54px;
}

.header__icon li:not(:last-child) {
  margin-right: 42px;
}

.logo {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.header__icon button {
  display: block;
  cursor: pointer;
}

.header__icon-glass {
  background-image: url('../img/icons/header_icons/glass.svg');
  width: 18px;
  height: 18px;
  }

.header__icon-cart {
  background-image: url('../img/icons/header_icons/cart.svg');
  width: 18px;
  height: 14px;
}

.header__descr-wrapper {
  text-align: center;
  color: #ffffff;
  padding-bottom: 230px;
}

.header__title {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 72px;
  margin: 0;
  margin-bottom: 70px;
}

.header__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;  
  text-transform: uppercase;
  line-height: 140px;
  padding: 0 50px;
  margin-bottom: 130px;
}

.header__button {
  border: 3px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 164px;
  height: 44px;
  margin: 0 auto;
  padding: 12px 30px;
  text-align: center;
}
/*********************************************/

/*TITLES****************************************/
.title {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 48px;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 42px auto 0;
}

.subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #000000;
  margin-top: 20px;
  text-transform: uppercase;
}
/*********************************************/

/*SERVICES************************************/
.services__options-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 340px;
}

.services__options-nav li {
  padding-left: 92px;
  width: 386px;
  position: relative;
}

.services__options li::before {
  content: '';
  width: 32px;
  height: 31px;
  display: inline-block;
  float: left;
  position: absolute;
  left: 30px;
  top: 0px;
}

.services__options-nav-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 400;
}

.services__options .icon-1::before {
  background-image: url('../img/icons/items_icons/alarm.svg');
}

.services__options .icon-2::before {
  background-image: url('../img/icons/items_icons/line.svg');
}

.services__options .icon-3::before {
  background-image: url('../img/icons/items_icons/pc.svg');
}

.services__options .icon-4::before {
  background-image: url('../img/icons/items_icons/book.svg');
}

.services__options .icon-5::before {
  background-image: url('../img/icons/items_icons/home.svg');
}

.services__options .icon-6::before {
  background-image: url('../img/icons/items_icons/image.svg');
}
/*********************************************/

/*TEAM****************************************/
.team__text {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
  line-height: 24px;
}

.team__wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__item {
  transition: all 200ms linear;
  position: relative;
}

.team__item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-top: 32px;
}

.team__item-subtitle {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  color: #999999;
  text-align: center;
  font-style: italic;
  margin-top: 18px;
  line-height: 24px;
  display: block;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 200ms linear;
  box-shadow: 10px 10px 0px 0px #95e1d3;
  top: 0;
  left: 0;
  background-image: var(--overlay-gradient);
}

.team__item-icon {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
}

.team__item-icon:hover {
  background-color: #f38181;
}

.team__item:hover {
  transform: translate(-10px, -10px);
}

.team__item:hover .overlay {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.team__item-facebook {
  border-right: 1px solid #f38181;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item-facebook svg {
  fill: #f38181;
  width: 32px;
  height: 32px;
}

.team__item-facebook:hover svg{
  fill: #ffffff;
}

.team__item-twitter {
   border-right: 1px solid #f38181;
   display: flex;
   justify-content: center;
   align-items: center;
}

.team__item-twitter svg {
  fill: #f38181;
  width: 32px;
  height: 32px;
}

.team__item-twitter:hover svg {
  fill: #ffffff;
}

.team__item-pinterest {
  border-right: 1px solid #f38181;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item-pinterest svg {
  fill: #f38181;
  width: 32px;
  height: 32px;
}

.team__item-pinterest:hover svg {
  fill: #ffffff;
}

.team__item-instagram {
  border-right: 1px solid #f38181;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item-instagram svg {
  fill: #f38181;
  width: 32px;
  height: 32px;
}

.team__item-instagram:hover svg {
  fill: #ffffff;
}
/*********************************************/

/*FOOTER**************************************/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.line {
  width: 100%;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 86px 0 10px 0;
}

.footer__copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000000;
}

.footer__copyright a {
  color: #f38181;
  text-decoration: none;
}

.footer__copyright a:hover {
  text-decoration: underline;
}

.footer__copyright a:focus {
  font-weight: 900;
}

.footer__subscribe-form {
  display: flex;
}

.footer__subscribe-form-input {
  width: 234px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  
  padding-left: 12px;
}

.footer__subscribe-form-btn {
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  font-family: ;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__subscribe-form-input::placeholder {
  color: #cccccc;
}
/*********************************************/